<div id="home-page">
    <div class="container">
        <section class="title-main-section">
            <div class="title-show">
                <div class="title">
                    <h1>Alugue seu filme <br/> e seja feliz </h1>
                        <p>Aproveite as promoções de dia das mães</p>
                        <button>Alugar</button>
                    </div>
                    <div class="gallery-imgs-main">
                        <div class="img-gallery">
                            <img
                                src="http://4.bp.blogspot.com/-N6oj8KUu81I/WJrhgfNmkQI/AAAAAAAADAo/X_iVtTC9f2snLI6cn_BeTL8QBG5TLmPfACK4B/s1600/batman.jpg"
                                alt="Lego Batman - O Filme"
                                /></div>
                        <div class="img-gallery">
                            <img
                                src="http://4.bp.blogspot.com/-N6oj8KUu81I/WJrhgfNmkQI/AAAAAAAADAo/X_iVtTC9f2snLI6cn_BeTL8QBG5TLmPfACK4B/s1600/batman.jpg"
                                alt="Lego Batman - O Filme"
                                /></div>
                        <div class="img-gallery">
                            <img
                                src="http://4.bp.blogspot.com/-N6oj8KUu81I/WJrhgfNmkQI/AAAAAAAADAo/X_iVtTC9f2snLI6cn_BeTL8QBG5TLmPfACK4B/s1600/batman.jpg"
                                alt="Lego Batman - O Filme"
                                /></div>
                        <div class="img-gallery">
                            <img
                                src="http://4.bp.blogspot.com/-N6oj8KUu81I/WJrhgfNmkQI/AAAAAAAADAo/X_iVtTC9f2snLI6cn_BeTL8QBG5TLmPfACK4B/s1600/batman.jpg"
                                alt="Lego Batman - O Filme"
                                /></div>
                        <div class="img-gallery">
                            <img
                                src="http://4.bp.blogspot.com/-N6oj8KUu81I/WJrhgfNmkQI/AAAAAAAADAo/X_iVtTC9f2snLI6cn_BeTL8QBG5TLmPfACK4B/s1600/batman.jpg"
                                alt="Lego Batman - O Filme"
                                /></div>
                        <div class="img-gallery">
                            <img
                                src="http://4.bp.blogspot.com/-N6oj8KUu81I/WJrhgfNmkQI/AAAAAAAADAo/X_iVtTC9f2snLI6cn_BeTL8QBG5TLmPfACK4B/s1600/batman.jpg"
                                alt="Lego Batman - O Filme"
                                /></div>
                    </div>
                </div>
            </section>
            <section class="releases">
                <h2 class="title-section">Lançamentos</h2>

                <div class="carousel-movies-release">
                    <div class="shelf">
                        <div class="img-shelf">
                            <img
                                src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/john-wick-4-baba-yaga.jpg"
                                alt="">
                        </div>
                        <div class="title-shelf">
                            <p>John Wick 4: Baba Yaga</p>
                        </div>
                        <div class="action-shelf">
                            <p class="price-shelf">R$ 5,00/dia</p>
                            <button class="buy-btn">Alugar</button>
                        </div>
                    </div>
                    <div class="shelf">
                        <div class="img-shelf">
                            <img
                                src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/john-wick-4-baba-yaga.jpg"
                                alt="">
                        </div>
                        <div class="title-shelf">
                            <p>John Wick 4: Baba Yaga</p>
                        </div>
                        <div class="action-shelf">
                            <p class="price-shelf">R$ 5,00/dia</p>
                            <button class="buy-btn">Alugar</button>
                        </div>
                    </div>
                    <div class="shelf">
                        <div class="img-shelf">
                            <img
                                src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/john-wick-4-baba-yaga.jpg"
                                alt="">
                        </div>
                        <div class="title-shelf">
                            <p>John Wick 4: Baba Yaga</p>
                        </div>
                        <div class="action-shelf">
                            <p class="price-shelf">R$ 5,00/dia</p>
                            <button class="buy-btn">Alugar</button>
                        </div>
                    </div>
                    <div class="shelf">
                        <div class="img-shelf">
                            <img
                                src="https://www.kinoplex.com.br/filmes/images/cartaz/262x388/john-wick-4-baba-yaga.jpg"
                                alt="">
                        </div>
                        <div class="title-shelf">
                            <p>John Wick 4: Baba Yaga</p>
                        </div>
                        <div class="action-shelf">
                            <p class="price-shelf">R$ 5,00/dia</p>
                            <button class="buy-btn">Alugar</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>